//************************************
//# text eillipse
//************************************
@mixin ellipsis($line-cnt: 1) {
  @if ($line-cnt == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt; /* 라인수 */
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
@mixin scroll() {
  /* Scrollbar */
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #ededed;
  }
  &::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
  }
}
// fluidly resize type
// based on example here https://css-tricks.com/snippets/css/fluid-typography/
@mixin fluid-type($font-min, $font-max, $screen-min, $screen-max) {
  font-size: #{$font-min}px;

  @media only screen and (min-width: #{$screen-min}px) {
    font-size: calc(
      #{$font-min}px + #{($font-max - $font-min)} * (100vw - #{$screen-min}px) /
        (#{$screen-max} - #{$screen-min})
    );
  }

  @media only screen and (min-width: #{$screen-max}px) {
    font-size: #{$font-max}px;
  }
}
$tablet: 1024px;
$desktop: 1440px;
// @mixin mobile {
//   @media (max-width: ($tablet - 1)) {
//     @content;
//   }
// }
@mixin mobile {
  @media (max-width: ($tablet - 1)) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $tablet) {
    @content;
  }
}
