// default
$font-famliy: "NotoSansKR", "Malgun Gothic";
$font-weight: 400;
$font-size: 16px;
$font-color: #000;
$line-height: 28px;

// layout
$l-container: 1400px;

// color
$c-primary: #2196f3;

$c-fff: #fff;
$c-000: #000;
