/* ##############################
# section - business
################################*/
.business {
  padding-top: 0;
  .sec-header {
    background-color: #f5f5f5;
    max-width: none;
    padding-top: min(10vh, 97px);
    padding-bottom: min(4.78vh, 44px);
    margin-bottom: min(5.984vh, 55px);
  }
  &-nav {
    margin: min(7.29vh, 67px) auto 0;
    .b-nav {
      border-radius: 35px;
      background-color: #9e9e9e;
      width: auto;
      height: 35px;
      padding: 3px 15px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      &.is-active {
        background-color: $c-primary;
        font-weight: 700;
      }
    }
  }
}
///************************************
//# Swiper Layout
//************************************
.business-nav {
  padding-bottom: 0;
  overflow: visible;
}
.swiper-business {
  .swiper-wrapper {
    padding: 27px 0;
  }
}
///************************************
//# Swiper Item
//************************************
.business-slide {
  flex: none;
  display: flex;
  align-items: stretch;
  border: 1px solid #9e9e9e;
  border-radius: 20px;
  width: 880px;
  height: 380px;
  overflow: hidden;
  box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.12);
  &.swiper-slide-active {
    border-color: $c-primary;
  }
  &:not(.swiper-slide-active) {
    filter: grayscale(100%);
  }
  .b {
    &-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px 56px 30px 40px;
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
    }
    &-desc {
      margin-top: 20px;
      margin-bottom: auto;
    }
    &-icon {
      display: block;
      width: 140px;
      height: 140px;
      margin-left: auto;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &-img {
      flex: none;
      width: 380px;
      height: 380px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
@include mobile {
  .business {
    padding-top: 60px;
    .sec-header {
      padding: 27px 0 20px;
      margin-bottom: 20px;
    }
    &-nav {
      margin-top: 40px;
      .b-nav {
        height: 26px;
        font-size: 14px;
      }
    }
  }
  .swiper-business {
    .swiper-button {
      display: none;
    }
  }
  .business-slide {
    flex-direction: column;
    width: 295px;
    padding: 30px 0 40px;
    &:not(.swiper-slide-active) {
      box-shadow: none;
      &::after {
        content: none;
      }
    }
    .b {
      &-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
      }
      &-title {
        font-size: 16px;
      }
      &-desc {
        margin-top: 12px;
        font-size: 12px;
      }
      &-icon {
        display: none;
      }
      &-img {
        margin-top: auto;
        width: 100%;
        height: 170px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
}
