/* ##############################
# section - history
################################*/
.history {
  background: linear-gradient(
    180deg,
    rgba(21, 95, 234, 0.1) 3.15%,
    rgba(249, 250, 254, 0.1) 29.24%,
    rgba(194, 213, 249, 0) 42.59%,
    rgba(21, 95, 234, 0.1) 100%
  );
  &::before {
    content: "";
  }
  .sec-header {
    margin-bottom: min(7.7vh, 80px);
  }
}
//************************************
//# Swiper nav
//************************************
.history-nav-container {
  width: 100%;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 12px;
    background: linear-gradient(
      90deg,
      #155fea -2.25%,
      rgba(21, 95, 234, 0) 100%
    );
  }
  .swiper-button {
    top: calc(50% - 20px);
    &.prev {
      left: calc(50% - 680px);
    }
    &.next {
      right: calc(50% - 680px);
    }
  }
}
.history-nav {
  width: 1194px;
  margin: 0 auto;
  padding-bottom: 0;
  .h-nav {
    align-self: center;
    width: 190px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: #e7e7e7;
    cursor: pointer;
    &.is-active {
      font-size: 80px;
      color: #616161;
    }
  }
}
//************************************
//# Swiper Content
//************************************
.history-container {
  width: 100%;
  margin: min(7.7vh, 80px) auto;
}
.history {
  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 350px;
    margin: 0 0;
  }
  &-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9e9e9e;
    width: 100%;
    height: 63px;
    word-break: keep-all;
    &:first-child {
      border-top: 1px solid #9e9e9e;
    }
  }
}
//************************************
//# responsive
//************************************
@include desktop {
  .history-container {
    width: 1130px;
  }
}
@include mobile {
  .history {
    &::before {
      content: none;
    }
  }
  .history {
    &-list {
      width: 274px;
      height: 295px;
    }
    &-item {
      height: 42px;
      font-size: 12px;
    }
    .sec-header {
      margin-bottom: 32px;
    }
  }
  .history-nav-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .history-container {
    padding: 0;
  }
  .history-nav {
    padding: 0;
    &::after {
      height: 8px;
    }
    .h-nav {
      width: auto;
      height: 54px;
      font-size: 32px;
      &.is-active {
        font-size: 32px;
      }
    }
  }
  .history-list {
    margin-top: 40px;
  }
}
